.detail-container {
  margin-top: 3rem;
}
.detail-inner-container {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 3rem;
}
.back-box {
  text-align: center;
}
.back-btn {
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  border: 1px solid var(--primary);
  color: #fff;
}
.back-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--primary);
}
.detail-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--primary);
  padding: 1rem;
  margin-bottom: 1rem;
}
.detail-restaurant-name {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}
.restaurant-menus {
  margin-bottom: 0.3rem;
  color: var(--font-clr);
}

.detail-address {
  margin-bottom: 0.3rem;
  color: var(--font-clr);
}

.detail-phone {
  margin-bottom: 0.3rem;
  color: var(--font-clr);
}

.modal-box {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0px;
  background-color: #00000045;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.review-text {
  color: var(--primary);
}

.review-btn {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 0.3rem 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
}
.review-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--primary);
}
/*  */
@media (min-width: 720px) {
  .detail-header {
    justify-content: space-between;
    flex-direction: row;
  }
  .back-btn {
    font-size: 1.2rem;
  }
  .review-btn {
    font-size: 1rem;
  }
}
