* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.App {
  font-family: sans-serif;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  /* place-items: center; */
}

.active {
  font-weight: bold;
}
